@model Movie
<div class="container">
    <div class="row mb-3 align-items-center my-4">
        <div class="col-12">
            <h2 class="display-6 fw-bold">Create New Movie</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">

                    <form method="post" enctype="multipart/form-data">
                        <!-- Name -->
                        <div class="mb-3">
                            <label for="Name" class="form-label fw-semibold">Name</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Enter Movie name" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label">Description</label>
                            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Price" class="form-label">Price</label>
                            <input class="form-control" placeholder="Price" asp-for="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="DateTime" class="form-label">DateTime</label>
                            <input type="datetime-local" class="form-control" placeholder="DateTime" asp-for="DateTime">
                            <span asp-validation-for="DateTime" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="CategoryName" class="form-label">Category Name</label>
                            <select name="CategoryId" class="form-select">
                                @foreach (var item in ViewBag.Categories)
                                {
                                    @if (ViewBag.CategoryId == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <!-- Movie Cinema Name -->
                        <div class="col-md-3">
                            <label for="CinemaName" class="form-label">Cinema Name</label>
                            <select name="CinemaId" class="form-select">
                                @foreach (var item in ViewBag.Cinemas)
                                {
                                    @if (ViewBag.CinemaId == item.Id)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="CinemaId" class="text-danger"></span>
                        </div>
                        <!-- MainImg -->
                        <div class="mb-3">
                            <label for="Img" class="form-label fw-semibold">MainImg</label>
                            <input type="file" class="form-control form-control-lg" name="Img" id="Img">
                   
                        </div>
                        <!-- SubImgs -->
                        <div class="mb-3">
                            <label for="SubImgs" class="form-label fw-semibold">Sub Imgs</label>
                            <input type="file" class="form-control form-control-lg" name="SubImgs" id="SubImgs"  multiple>
                        </div>

                        <!-- Status -->
                        <div class="mb-4">
                            <label for="Status" class="form-label fw-semibold">Status</label>
                            <select name="Status" class="form-select form-select-lg" id="Status">
                                @if (Model.Status)
                                {
                                    <option value="true" selected>Active</option>
                                    <option value="false">In Active</option>
                                }
                                else
                                {
                                    <option value="true">Active</option>
                                    <option value="false" selected>In Active</option>
                                }
                            </select>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm">
                            <i class="fas fa-plus me-2"></i> Add Movie
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
